<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
  @directory /src/com/lawcall/web/info/mapper/xml
  @description
  @author 周严
  @version v0.1
-->
<mapper namespace="com.lawcall.web.image.mapper.YuyMapper" >

	
	<select id="get_yy" resultType="String">
		select wjm from t_yuyin where bh=#{bh}
	</select>
	
	<!-- 语音上传 -->
	<insert id="yyShangChuang">
		insert into t_yuyin(wjm,shangcsj,wenjdx,wenjgs) values
							(#{wjm},#{shangcsj},#{wenjdx},#{wenjgs})
	</insert>
	
	<select id="chaxunbh_yy" resultType="int">
		select bh FROM t_yuyin t WHERE t.wjm=#{wjm}
	</select>
 	
</mapper>